:root {
    --fs-xxxs: 12px;
    --fs-xxs: 14px;
    --fs-sm: 16px;
    --fs-md: 20px;
    --fs-lg: 24px;
    --fs-xl: 40px;
    --fs-2xl: 58px;
}

.fs_12 {
    font-size: var(--fs-xxxs) !important;
}

.fs_14 {
    font-size: var(--fs-xxs) !important;
}

.fs_16 {
    font-size: var(--fs-sm) !important;
}

.fs_20 {
    font-size: var(--fs-md) !important;
}

.fs_24 {
    font-size: var(--fs-lg) !important;
}

.fs_40 {
    font-size: var(--fs-xl) !important;
}

.fs_58 {
    font-size: var(--fs-2xl) !important;
}


@media (max-width:992px) {
    :root {
        --fs-2xl: 46px;
    }
}

@media (max-width:768px) {
    :root {
        --fs-xl: 35px;
        --fs-2xl: 44px;
    }
}

/* @media (max-width:576px) {
    :root {
        --fs-md: 18px;
        --fs-lg: 20px;
        --fs-xl: 32px;
        --fs-2xl: 42px;
    }
} */